/* mobile: 393 x 658 */
@media screen and (max-width: 25em) {
    .markdown-editor i.separator {
        display: none;
    }
}

:root {
    --color-primary: #1793d1;
    --color-primary-gray: #687f9e;
    --color-primary-light: #d9f0fa;
}

body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

p {
    font-family: serif;
    line-height: 1.4em;
}
  
#sidebar-toggle {
    display: block;
    left: 1em;
    position: absolute;
    top: 1em;
    z-index: 4;
}
  
.sidebar {
    background-color: #ffffff;
    border-right: 4px solid #aaaaaa;
    bottom: 0;
    left: -17em;
    padding-top: 3em;
    position: absolute;
    top: 0;
    width: 16em;
    z-index: 3;
}

.sidebar ul {
    padding-left: 0;
}

.sidebar li {
    list-style: none;
    padding: .25em 0;
}

.sidebar li.divider {
    margin: 0 1em;
    padding: 0;
    border-bottom: 1px dotted var(--color-primary);
}

.sidebar a {
    border: 1px solid transparent;
    border-radius: 2px;
    color: var(--color-primary);
    display: block;
    margin: 0 .25em 0;
    padding: .5em;
    text-decoration: none;
}

a:hover,
label.hover:hover {
    background-color: var(--color-primary-light);
}

.sidebar i {
    text-align: center;
    margin-right: .4em;
    width: 1em;
}

.sidebar span {
    line-height: 2em;
    vertical-align: top;
}

.sidebar .title {
    position: absolute;
    right: 0;
    top: 0;
    width: 12.5em;
}

.sidebar .title span {
    font-size: 2em;
    font-weight: bold;
}

#content {
    margin: 4em auto;
    max-width: 36em;
    padding: 0 1em;
    z-index: 0;
}

input {
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}

.markdown-editor .CodeMirror,
.markdown-editor .CodeMirror-scroll {
    max-height: 13em;
    min-height: 13em;
}

.markdown-editor .editor-statusbar {
    display: none;
}

.save-button {
    float: right;
    margin-top: 1em;
}

.save-button i {
    margin-right: .1em;
}

.link-button {
    background-color: transparent;
    border: 0px solid transparent;
    color: var(--color-primary);
    margin: 0;
    padding: 0;
}

.primary-button {
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary-light);
    border-radius: 2px;
    color: white;
    padding: .5em 1em;
}

.primary-button:disabled {
    background-color: var(--color-primary-gray);
    cursor: progress;
}

.edit-pencil {
    vertical-align: middle;
    font-size: .75em;
}

.invisible-toggle {
    display: none;
}

.invisible-toggle:checked ~ .toggle-content {
    left: 0;
}

.ease-slide {
    transition: left .2s ease-in-out;
}

.ease-slide.accordion {
    max-height: 0;
    overflow: hidden;
    transition: max-height .1s linear;
}

.invisible-toggle:checked ~ .accordion.ease-slide {
    max-height: 12em;
    transition: max-height .2s ease-in-out;
}

.person-details label {
    border-bottom: 1px dotted var(--color-primary);
    color: var(--color-primary);
}

.person-details ul {
    list-style: none;
}

.person-details {
    display: block;
}