body {
    font-family: sans-serif;
    font-size: 18px;
    margin: 0;
}

p {
    font-family: serif;
    line-height: 1.4em;
}

h1 {
    margin: .42em 0;
}

svg {
    width: 2em;
}

#sidebar-checkbox {
    display: none;
}
  
#sidebar-toggle {
    display: block;
    left: 1em;
    position: absolute;
    top: 1em;
    z-index: 4;
}

#sidebar-toggle svg {
    width: 2em;
}
  
#sidebar {
    background-color: #ffffff;
    border-right: 4px solid #aaaaaa;
    height: 100%;
    left: -17em;
    padding-top: 4em;
    position: absolute;
    top: 0;
    transition: left 0.2s ease-in-out;
    width: 16em;
    z-index: 3;
}

#sidebar ul {
    padding-left: 0;
}

#sidebar li {
    list-style: none;
    padding: .25em 0;
}

#sidebar li.divider {
    margin: 0 1em;
    padding: 0;
    border-bottom: 1px dotted #3d7e9a;
}

#sidebar a {
    border: 1px solid transparent;
    border-radius: 2px;
    color: #3d7e9a;
    display: block;
    margin: 0 .5em 0;
    padding: .5em;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #d9f0fa;
    border: 1px dotted #3d7e9a;
}

#sidebar svg {
    margin-right: 1em;
}

#sidebar span {
    line-height: 2em;
    vertical-align: top;
}
  
#sidebar-checkbox:checked ~ #sidebar {
    left: 0;
}

#content {
    margin: 0 auto;
    max-width: 36em;
    padding: 0 4em;
    z-index: 0;
}

input {
    border: 1px solid #dddddd;
    border-radius: 2px;
    box-sizing: border-box;
    display: block;
    margin: 1em 0;
    padding: 1em;
    width: 100%;
}